{% extends "@!SyliusUxSemanticUi/layout.html.twig" %}

{% block logo %}
    <div class="sidebar-logo" style="max-width: 150px; margin: 0 auto">
        <img src="https://placeholderlogo.com/img/placeholder-logo-4.png" class="ui fluid image">
    </div>
{% endblock %}
